@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body{
    font-family: 'Roboto Mono', monospace;
    font-size: 1.2em;
}

h1 {
   text-align: center;
   font-size: 2em;
   color: #808000;
}

/* Menu de Navegação */

nav {
    text-align: center;    
}
#lista {
    list-style: none;
}
#lista li {
    margin: 10px;
}

nav a {
    color:#0000ff;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    background-color: #808000;
    color: #f8f7f7;
    padding: 10px; 
    border-radius: 10px;
}

a {
    text-decoration: none;
    color: #0000ff;
    font-weight: bold;
}

/* fotos */

#fotos {
    text-align: center;
    margin: 20px;
}

#fatos{
    text-align: center;
    margin: 20px;
}

#odeiam{
    text-align: center;
    margin: 20px; 
    list-style: none
}

.gostam{
    list-style: none;
}

#colabore {
    text-align: center;
    margin: 20px;
}
/*Galeria de Fotos*/

img {
    width: 400px;
    height: auto;
    border-radius: 20px;
    margin: 10px;
}

#galeria {
    display: flex;
    width: 50%;
    justify-content: center;
    margin: 0 auto;
}

#galeria figure {
    margin: 10px;
    align-items: center;
}


@media(max-width: 650px) {
    #galeria {
        flex-direction: column;
        align-items: center;
    } 
}

footer {
    text-align: center;
    font-size: 0.8em;
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-top: 1px solid #ccc;
}

p a{
    align-items: center;
}

#voltar {
    text-align: center;
    margin: 20px;
} 


